.contact-page {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: url("https://www.wallpaperbetter.com/wallpaper/58/720/17/tropical-cocktails-different-colors-glass-cups-flowers-4K-wallpaper.jpg" );

  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}